hr {
    margin-bottom: 25px;
}

.controls-container {
    display: none;
    row-gap: 25px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container div {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
}

.button-container div div{
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.button-container button {
    height: 64px;
    aspect-ratio: 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 22pt;
    font-weight: bold;
}

button img {
    filter: invert(1);
}

input[type=file] {
    display: flex;
    background-color: var(--light-gray);
    border: none;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    color: var(--white);
    font-size: 12pt;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
    text-align: center;
}

input[type=file]:hover {
    background-color: var(--mid-gray);
}

::file-selector-button {
    display: none;
}

.player-card {
    display: flex;
    height: 100px;
    background-color: var(--mid-gray);
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.description-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 0px;
    padding: 10px 10px 15px 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

.description-container p {
    padding: 0px;
    margin: 0px;
}

.description-container p:first-child {
    font-size: 16pt;
    font-weight: bold;
}

.image-container {
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--light-gray);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.image-container img {
    height: 80%;
}
